@{
    ViewData["Title"] = "Home Page";
}

<<div class="text-center">
    <h1>🎵 Lucy's Music App</h1>
    <p>Stream and download your favorite music</p>

    <a asp-controller="Music"
       asp-action="Index"
       class="btn btn-success">
        Go to Music
    </a>
</div>

